#!/bin/sh
#################################################################
# 000xx - loopback rules 
#################################################################

#################################################################
# No restrictions on Loopback Interface
#################################################################
${add} 00001 allow all from any to any via lo0

#################################################################
# Any other 127 traffic is bogus
#################################################################
#${add} 00010 deny all from 127/8 to any
#${add} 00015 deny all from any to 127/8
