#!/bin/sh

#################################################################
# 006xx - Layer 3 mandatory rules
#################################################################

${add} 00620 allow ipv6-icmp from :: to ff02::/16
${add} 00621 allow ipv6-icmp from fe80::/10 to fe80::/10
${add} 00622 allow ipv6-icmp from fe80::/10 to ff02::/16

# Allow ICMPv6 destination unreachable
${add} 00623 allow ipv6-icmp from any to any icmp6types 1

# Allow NS/NA/toobig (don't filter it out)
${add} 00624 allow ipv6-icmp from any to any icmp6types 2,135,136

# Allow out ping
${add} 00650 allow icmp from any to any out keep-state
