channel #squirrelporn
  lobotomized False
  defaultAllow True
  capability -protected
  capability -halfop
  capability -op
  capability notradio
  capability weather
  capability radio
  capability trusted
  capability -voice
