servers = (
  { address = "localhost"; chatnet = "local"; port = "6667"; }
);

chatnets = {
  local = {
    type = "IRC";
    max_kicks = "1";
    max_msgs = "3";
    max_whois = "30";
  };
};

channels = (
{% for item in supybot_channels %}
  { name = "#{{ item.name }}"; chatnet = "local"; autojoin = "Yes"; },
{% endfor %}
);

settings = {
  core = {
    real_name = "Vagrant User";
    user_name = "vagrant";
    nick = "vagrant";
  };
  "fe-text" = { actlist_sort = "refnum"; };
};
