[Unit]
Description=uWSGI API 
After=syslog.target

[Service]
ExecStart=/opt/intbass/api/venv/bin/uwsgi --ini /etc/intbass/uwsgi.ini
Restart=always
KillSignal=SIGTERM
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=intbass-api
User=api
Group=api
Environment=INTBASS_SETTINGS=/etc/intbass/flask.cfg
WorkingDirectory=/opt/intbass/api/
Type=notify
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target
