# nat Table rules
*nat
:POSTROUTING ACCEPT [0:0]

# Forward traffic from eth1 through eth0.
-A POSTROUTING -s 172.20.0.0/24 -o {{ external_interface }} -j MASQUERADE

# don't delete the 'COMMIT' line or these nat table rules won't be processed
COMMIT
