#!/bin/sh
#######################
# 002xx trusted ruleset
#
# Any nics or users that get a free pass
#######################
# Basically give user root "GOD" privileges.
${add} 00200 allow all from me to any out setup keep-state uid root
#################################################################
# Allow the packet through if it has previous been added to the
# the "dynamic" rules table by a allow keep-state statement.
#################################################################
${add} 00201 check-state

# And anywhere we trust
{% if network_safe_interfaces %}
{% for interface in network_safe_interfaces %}
${add} 00{{ 201 + loop.index }} allow all from any to any via {{ interface }} 
{% endfor %}
{% endif %}
